body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.dialog {
    max-width: 500px;
}

.add-button-margin {
    margin: 18px 0;
}

.flex {
    display: flex;
}

.summaryPie {
    max-width: 510px;
    max-height: 510px;
    margin: auto;
}

.overflow-x-auto {
    overflow-x: auto;
    width: 100%;
}

@media (max-width: 768px) {
    .smFullWidth {
        width: 100%;
    }

    .smHide {
        display: none;
    }
}
