body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.dialog {
    max-width: 500px;
}

.add-button-margin {
    margin: 18px 0;
}

.flex {
    display: flex;
}

.tooltip {
    position: 'absolute'; 
    width: 450px; 
    height: 20px;
    bottom: 100%; 
    left: 50%; 
    margin-left: -170px;
    background-color: aqua;
    color: black;
    /* word-wrap: break-word; */
}